.index-title {
  font-size: 100px;
}

.arrowcolor{
    color: #1a8755;
}

.attach_fileColor{
  color: #000;
}

.content{
  width: calc(100% - 296px);
  margin-left: auto;
}

.feedackText{
  resize: none;
}